.customers {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.customers__item {
  flex-basis: calc((100% - 30px) / 2);
  height: 92px;
  fill: var(--icon-team-color);
  transition: var(--animation);
  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-team-color);
  border-radius: 4px;
  color: #afb1b8;
  background-color: #fff;
  transition: var(--animation);
  &:focus,
  &:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}
.customers__icon {
  fill: currentColor;
}
