:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color-theme-dark: #212121;
  --secondary-text-color-theme-dark: #757575;
  --primary-text-color-theme-light: #ffffff;
  --secondary-text-color-theme-light: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --icon-team-color: #afb1b8;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
